body {
    font-family: monospace;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

h1 {
    margin-top: 0;
}

.the-box {
    background: url(https://sacher.com.mx/media/magefan_blog/pastelin.jpg);
    width: 600px;
    height: 595px;
    filter: blur(2px) saturate(3) contrast(50) invert(1);
    animation: rotate 1s infinite;
}

@keyframes rotate {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(360deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

@media (max-width: 500px) {
    .the-box {
        width: 400px;
        height: 400px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media (max-width: 399px) {
    .the-box {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 349px) {
    .the-box {
        width: 330px;
        height: 330px;
    }
}
